{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>

</style>

<div class="row text-center">
   <h2>About <b style="color:red">India News</b></h2><br/><br/>
    <div class="col-sm-2"></div>
    <div class="col-sm-8 bg-light p-20"><br/><br/>
        <h5><b style="color:red;padding-top:30px;font-size:30px;">IndiaNews.com</b></h5><br/>
                    <p style="text-align:justify;font-size:20px;padding:20px;">Indianews.com founded in 2002 is India’s leading English News Portal
                    with the aim of reaching millions of Indians in India and significantly
                    worldwide Indian Diaspora who are eager to stay in touch with India based
                    news and stories in Hindi because of the varied contents presented in
                    an eye pleasing design format. It has taken a prominent position in the
                    web market and quickly progressing to capture the top slot.
                    We also remain clung to the tree of journalistic ethics by serving the fresh
                    news on the platter of absolute authenticity and our comments stand only as
                    a guard so that all the users of our portal do not carried away from the truth.
                    news persons are prompt in responding to any event by collecting first hand data.
                    </p><br/><br/>
        <h4>Head Office</h4>
        <b>Ground floor Tiruantpuram</b><br/>
        <b>West Bangal, India</b><br/>
        <a href="/contact/" ><input type="text" placeholder="Contact Us" style="height:40px;width:150px;background:red;border-radius:20px;padding-bottom:10px;text-align:center;"/>
  </a><br/><br/>
    <b>follow Us:</b><i class="fa fa-facebook border border-danger" style="height:30px;width:30px;border-radius:50%;text-color:white;background:red;line-height:30px;"></i>
    <i class="fa fa-twitter border border-danger" style="height:30px;width:30px;border-radius:50%;text-color:white;background:red;line-height:30px;"></i>
    <i class="fa fa-linkedin border border-danger" style="height:30px;width:30px;border-radius:50%;text-color:white;background:red;line-height:30px;"></i>
    <i class="fa fa-instagram border border-danger" style="height:30px;width:30px;border-radius:50%;text-color:white;background:red;line-height:30px;"></i></div>
    <div class="col-sm-2"></div>

</div>
{% endblock %}